/* Fonts */

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

/* Reset */
* {
  margin: 0;
  color: black;
  text-decoration: none;
}

/* Variables */
:root {
  --border-size: 0.175vw;
  --border-radius: 10vw;
  --border-thickness: inset -0.1vw 0 0 black, inset 0.1vw 0 0 black;
}

/* Styles */

body {
  background: black;
  font-weight: 450;
}

a#logo {
  display: inline-flex;
  padding: 0.5vw;
  font-size: 1.5vw;
  background: url("assets/logo.jpg") no-repeat;
  background-size: cover;
  width: auto;
  border-radius: var(--border-radius);
}

a#logo span {
  border: var(--border-size) solid black;
  padding: 0.5vw 1vw;
  border-radius: var(--border-radius);
  box-shadow: var(--border-thickness);
}

/* CHARACTER */

#character {
  width: 100vw;
  height: 100vw;
  display: block;
  background: url("assets/mask.svg"), url("assets/colors.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}

#face {
  width: 40vw;
  height: 22.7vw;
  background: url("assets/face.svg");
  background-size: contain;
  mix-blend-mode: hard-light;
}
