/* Fonts */

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

/* Reset */
* {
  margin: 0;
  text-decoration: none;
}

/* Variables */
:root {
  --border-size: 0.175vw;
  --border-size-reverse: -0.175vw;
  --border-radius: 3vw;
}

/* Styles */

body {
  background: black;
  font-weight: 450;
  color: black;
}

a#logo {
  display: inline-flex;
  padding: 0.5vw;
  font-size: 1.5vw;
  background: url("assets/logo.jpg") no-repeat;
  background-size: cover;
  width: auto;
  border-radius: var(--border-radius);
  color: black;
  margin: var(--border-size) 0 0 var(--border-size);
}

a#logo span {
  border: var(--border-size) solid black;
  padding: 0.5vw 1.2vw 0.5vw 1vw;
  border-radius: var(--border-radius);
}

h1,
p {
  color: wheat;
  width: 23vw;
  border: var(--border-size) solid wheat;
  padding: 2vw;
  border-radius: var(--border-radius);
}

h1 {
  font-size: 4vw;
  font-weight: 250;
  margin-top: var(--border-size);
}

p {
  margin-top: var(--border-size-reverse);
  font-size: 2vw;
  font-weight: 390;
}

/* CHARACTER */

#character {
  width: 100vw;
  height: 100vw;
  display: block;
  background: url("assets/mask.svg"), url("assets/colors.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}

#face {
  width: 40vw;
  height: 22.7vw;
  background: url("assets/face.svg");
  background-size: contain;
  mix-blend-mode: hard-light;
}
